.header {
    background-image: url('/assets/images/header.jpg');
    background-size: cover;
    background-position: bottom left;
    height: 85vh;
}

.header__navbar {
    position: relative;
    transition: max-height .5s ease-in;
}

.header__navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__text{
    font-size: 1.5rem;
    letter-spacing: .5rem;
}

.header__text, .header__nav a{
    text-decoration: none;
    letter-spacing: .2rem;
    color: #f7f7f7;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.header__nav a{
    transition: 0.8s ease;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}

.header__nav a:hover, .header__nav a:active {
    color: #005778;
}

.header__nav-container {
    background-color: rgb(53, 53, 53, .9);
    padding: 1rem 0;
}

.header__content {
    background-color: rgba(247, 247, 247, 0.8);
    width: 50%;
    padding: 1rem;
    padding-bottom: 2rem;
    width: 100%;
    margin-top: 3rem;
}

.header__content h1 {
    text-transform: uppercase;
}

.header__btn {
    border: none;
    color: #f7f7f7;
    background-color: rgb(53, 53, 53, .7);
    font-size: 2rem;
}