html, body {
    box-sizing: border-box;
    background-color: #f7f7f7;
    overflow-x: hidden;
    line-height: 1.2;
}

p, .btn{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, p {
    color: #353535;
}

.btn{
    border: none;
    cursor: pointer;
    padding: .6rem .7rem;
    border-radius: .1rem;
    font-weight: 500;
    display: inline-block;
    opacity: 1 !important;
    box-shadow: 1px 2px 3px #35353590;
}

.btn__primary{
    background-color: #005778;
    transition: background-color .8s ease;
    color: #f7f7f7;
}

.btn__primary:hover{
    background-color: #004763;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.flex-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}